<h1>Forgot your password?</h1>

<%= form_with url:password_reset_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email,class:"form-control",placeholder:"atillatha" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Send me reset password instructions",class:"form-control" %>
    </div>
<%end%>