<% if form.object.errors.any? %>
    <div class="alert alert-danger">
         <% form.object.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
         <% end %>
    </div>
<%end%>